body {
	background: #0e1310ea;
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
}

/* Hero Section */
.hero-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("/src/images/hero-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 200px 0;
	text-align: center;
}
.hero-section h1 {
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
	margin: 30px 0;
}
.hero-section h2 {
	font-size: 40px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}
.hero-section h3 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 5px;
	line-height: 1.5;
	margin: 0;
}
.hero-section a {
	background: #fff;
	border-radius: 5px;
	color: #0e1310;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 1.5;
	margin-top: 32px;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}
.hero-section a:hover {
	background: #a8a8a8;
	color: #0e1310;
	cursor: pointer;
}

/* Highlighted Section */
.highlight-section {
	background-color: #0e1310;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	padding: 100px 80px;
}
.highlight-section img {
	aspect-ratio: 1/1;
	width: 100%;
}
.highlight-section h2 {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.5;
	opacity: 0.3;
	text-transform: uppercase;
}
.highlight-section h3 {
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.5;
	margin: 16px 0;
}
.highlight-section p {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	opacity: 0.7;
}

/* Favorite Books Section */
.favorites-section {
	background-color: #0e1310c0;
	color: #fff;
	margin: 0 auto;
	padding: 60px 80px;
	text-align: center;
}
.favorites-section h2 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.5;
	opacity: 0.3;
	text-transform: uppercase;
}
.favorites-section h3 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.5;
	margin: 16px 0;
}
.favorites-book-content {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
}
.book-card {
	background-color: #1a1f1d;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
}
.card-header img {
	aspect-ratio: 2 / 3;
	border-radius: 5px;
	filter: grayscale(25%);
	width: 100%;
}
.favorites-section h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin: 10px 0;
}
.favorites-section h5 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	margin: 8px 0;
}
.favorites-section p {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	opacity: 0.7;
}
.favorites-section a {
	background: #fff;
	border-radius: 5px;
	color: #0e1310;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.5;
	margin-top: 12px;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}
.favorites-section a:hover {
	background: #a8a8a8;
	color: #0e1310;
	cursor: pointer;
}

/* Instagram Section */
.instagram-section {
	background-color: #0e1310;
	color: #fff;
	margin: 0 auto;
	padding: 60px 80px;
	text-align: center;
}
.instagram-section h2 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.5;
	opacity: 0.3;
	text-transform: uppercase;
}
.instagram-section h3 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.5;
	margin: 16px 0;
}
.instagram-content {
	display: grid;
	grid-gap: 70px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-self: center;
	margin-top: 50px;
}

/* Footer */
footer {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("/src/images/footer-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	opacity: 0.8;
	padding: 50px 0;
}
.footer-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}
footer h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}
footer p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	opacity: 0.8;
}
footer ul {
	padding: 0;
}
footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer a {
	color: #fff;
	opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 1250px) {
	/* Hero Section */
	.hero-section {
		padding: 60px 0;
	}
	.hero-section h1 {
		font-size: 48px;
	}
	.hero-section h2 {
		font-size: 20px;
	}
	.hero-section h3 {
		font-size: 12px;
	}

	/* Highlighted Section */
	.highlight-section {
		grid-gap: 20px;
		grid-template-columns: 1fr;
		padding: 50px 50px;
		text-align: center;
	}
	.highlight-section img {
		margin: 0 auto;
		width: 70%;
	}
	.highlight-section h3 {
		font-size: 28px;
	}
	.highlight-section p {
		font-size: 14px;
	}

	/* Instagram Section */
	.instagram-content {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 900px) {
	/* Favorite Books Section */
	.favorites-book-content {
		grid-template-columns: 1fr;
	}
}
