body {
	background: #0e1310ea;
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	max-width: 1200px;
}

.hero-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("/src/images/hero-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 200px 0;
	text-align: center;
}

.hero-section h1 {
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
	margin: 30px 0;
}

.hero-section h2 {
	font-size: 40px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

.hero-section h3 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 5px;
	line-height: 1.5;
	margin: 0;
}

.hero-section a {
	background: #fff;
	border-radius: 5px;
	color: #0e1310;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 1.5;
	margin-top: 32px;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

@media (max-width: 900px) {
	.hero-section {
		padding: 60px 0;
	}

	.hero-section h1 {
		font-size: 48px;
	}

	.hero-section h2 {
		font-size: 20px;
	}

	.hero-section h3 {
		font-size: 12px;
	}
}
